.labelButton {
  background-color: #1e3163;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  width: 80%;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  vertical-align: top;
}
/*# sourceMappingURL=label.css.map */