.labelSection {
  max-width: 500px;
}

.labelSection .labelIcon {
  padding: 10px;
  background-color: #1e3163;
  width: 50px;
  height: 50px;
  color: #fff;
  display: inline-block;
}

.labelSection .label {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 10px;
}

.labelSection .label .labelTitle {
  color: #333333;
  font-size: 25px;
  font-weight: 700;
}

.labelSection .label .labelDesc {
  color: #a3a3a3;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}
/*# sourceMappingURL=labelSection.css.map */