.summaryTitle {
    color: #333333;
    font-size: 25px;
    font-weight: 700;
}
.summaryTitle1 {
    color: #333333;
    font-size: 30px;
    font-weight: 800;
}
.summaryValue {
    color: #a3a3a3;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}
