.header {
    background: linear-gradient(110deg, #1e3163 75%, #b0b7c8 60%);
    padding: 40px 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 30px;

    .logo {
        width: 10%;
        margin-right: 30px;
    }

    .title {
        width: 70%;

        .title1 {
            font-size: 45px;
            font-weight: 700;
            display: inline-block;
        }
        .title2 {
            font-size: 33px;
            font-weight: 700;
            display: inline-block;
        }
        .title3 {
            font-size: 25px;
            font-weight: 400;
            display: inline-block;
        }
    }
    .right-logo {
        width: 20%;
        text-align: right;
    }
}

.container {
    padding: 50px 120px;

    .bullet {
        width: 90%;
        margin-left: 50px;
        margin-right: 50px;
        position: absolute;

        .bullet1 {
            width: 25%;
            display: inline-block;
        }
        .bullet2 {
            width: 30%;
            display: inline-block;
        }
        .bullet3 {
            width: 25%;
            display: inline-block;
        }
    }

    .summaryText {
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 50px;
        margin-right: 50px;
        .summary1 {
            width: 30%;
            display: inline-block;
        }
        .summary2 {
            width: 37%;
            display: inline-block;
        }
        .summary3 {
            width: 25%;
            display: inline-block;
        }
    }

    .school {
        width: 100%;

        .left {
            vertical-align: top;
            margin-right: 10px;
            width: 59%;
            display: inline-block;
        }

        .right {
            width: 40%;
            display: inline-block;

            .chartValue {
                position: absolute;
                margin-left: 7%;
                margin-top: -10%;
                color: #edb04e;
                font-weight: 900;
                font-size: 25px;
            }
        }
    }

    .information {
        width: 100%;

        .leftInformation {
            vertical-align: top;
            margin-right: 10px;
            width: 59%;
            display: inline-block;

            .chartValue1 {
                position: absolute;
                margin-left: 7%;
                margin-top: -10%;
                color: #61d09e;
                font-weight: 900;
                font-size: 25px;
            }

            .chartValue2 {
                position: absolute;
                margin-left: 7%;
                margin-top: -10%;
                color: #fd521a;
                font-weight: 900;
                font-size: 25px;
            }
        }

        .rightInformation {
            width: 40%;
            display: inline-block;

            .chartValue4 {
                position: absolute;
                margin-left: 7%;
                margin-top: -10%;
                color: #1e3163;
                font-weight: 900;
                font-size: 25px;
            }
        }
    }
}
