.header {
  background: linear-gradient(110deg, #1e3163 75%, #b0b7c8 60%);
  padding: 40px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 30px;
}

.header .logo {
  width: 10%;
  margin-right: 30px;
}

.header .title {
  width: 70%;
}

.header .title .title1 {
  font-size: 45px;
  font-weight: 700;
  display: inline-block;
}

.header .title .title2 {
  font-size: 33px;
  font-weight: 700;
  display: inline-block;
}

.header .title .title3 {
  font-size: 25px;
  font-weight: 400;
  display: inline-block;
}

.header .right-logo {
  width: 20%;
  text-align: right;
}

.container {
  padding: 50px 120px;
}

.container .bullet {
  width: 90%;
  margin-left: 50px;
  margin-right: 50px;
  position: absolute;
}

.container .bullet .bullet1 {
  width: 25%;
  display: inline-block;
}

.container .bullet .bullet2 {
  width: 30%;
  display: inline-block;
}

.container .bullet .bullet3 {
  width: 25%;
  display: inline-block;
}

.container .summaryText {
  width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.container .summaryText .summary1 {
  width: 30%;
  display: inline-block;
}

.container .summaryText .summary2 {
  width: 37%;
  display: inline-block;
}

.container .summaryText .summary3 {
  width: 25%;
  display: inline-block;
}

.container .school {
  width: 100%;
}

.container .school .left {
  vertical-align: top;
  margin-right: 10px;
  width: 59%;
  display: inline-block;
}

.container .school .right {
  width: 40%;
  display: inline-block;
}

.container .school .right .chartValue {
  position: absolute;
  margin-left: 7%;
  margin-top: -10%;
  color: #edb04e;
  font-weight: 900;
  font-size: 25px;
}

.container .information {
  width: 100%;
}

.container .information .leftInformation {
  vertical-align: top;
  margin-right: 10px;
  width: 59%;
  display: inline-block;
}

.container .information .leftInformation .chartValue1 {
  position: absolute;
  margin-left: 7%;
  margin-top: -10%;
  color: #61d09e;
  font-weight: 900;
  font-size: 25px;
}

.container .information .leftInformation .chartValue2 {
  position: absolute;
  margin-left: 7%;
  margin-top: -10%;
  color: #fd521a;
  font-weight: 900;
  font-size: 25px;
}

.container .information .rightInformation {
  width: 40%;
  display: inline-block;
}

.container .information .rightInformation .chartValue4 {
  position: absolute;
  margin-left: 7%;
  margin-top: -10%;
  color: #1e3163;
  font-weight: 900;
  font-size: 25px;
}
/*# sourceMappingURL=pageOne.css.map */