.container {
  padding: 50px 120px;
}

.container .mataPelajaran {
  width: 100%;
}

.container .mataPelajaran .leftMP {
  width: 39%;
  display: inline-block;
  border-right: 2px solid #b0b7c8;
}

.container .mataPelajaran .rightMP {
  margin-left: 10%;
  width: 50%;
  display: inline-block;
}

.container .information {
  width: 100%;
}

.container .information .leftInformation {
  vertical-align: top;
  margin-right: 10px;
  width: 59%;
  display: inline-block;
}

.container .information .leftInformation .chartValue1 {
  position: absolute;
  margin-left: 7%;
  margin-top: -10%;
  color: #61d09e;
  font-weight: 900;
  font-size: 25px;
}

.container .information .leftInformation .chartValue2 {
  position: absolute;
  margin-left: 7%;
  margin-top: -10%;
  color: #fd521a;
  font-weight: 900;
  font-size: 25px;
}

.container .information .rightInformation {
  width: 40%;
  display: inline-block;
}

.container .information .rightInformation .chartValue4 {
  position: absolute;
  margin-left: 7%;
  margin-top: -10%;
  color: #1e3163;
  font-weight: 900;
  font-size: 25px;
}
/*# sourceMappingURL=pageTwo.css.map */