.labelPsychology {
    max-width: 500px;

    .labelIcon {
        padding: 10px;
        border-radius: 50%;
        background-color: #1e3163;
        width: 100px;
        height: 100px;
        color: #fff;
        display: inline-block;
    }

    .label {
        vertical-align: bottom;
        display: inline-block;
        margin-left: 10px;

        .labelTitle {
            color: #333333;
            font-size: 25px;
            font-weight: 700;
        }

        .labelValue {
            color: #a3a3a3;
            font-size: 15px;
            font-weight: 500;
            font-style: italic;
        }

        .labelDesc {
            color: #1e3163;
            font-size: 25px;
            font-weight: 700;
        }
    }
}
